<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <h1>Welcome</h1>
    <p>Please register or sign in</p>
    <div class="row text-center">
        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-default', method: :get %>
        <%= link_to "Register", new_user_registration_path, class: 'btn btn-default', method: :get %>
    </div>
  </div>
<% end %>